{% extends '@Paie/layout.html.twig' %}

{% block subtitle_page_header %}{{- parent() -}} Recherche salarié {% endblock %}
{% block title %}{{- parent() -}}- Recherche salarié {% endblock %}

{% block stylesheets %}
    {{- parent() -}}
    {% stylesheets
    '%kernel.root_dir%/../vendor/selectize/dist/css/selectize.bootstrap3.css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <form class="form-horizontal" id="finder-form"  method="post" action="{{ path('paie_recherche_resultat') }}">
        <div class="form-group">
            <div class="col-sm-10">
                <input id="select_finder" name="id" placeholder="Recherche de salarié"/>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-primary btn-get">Chercher</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    {{- parent() -}}
    {% javascripts
    '%kernel.root_dir%/../vendor/selectize/dist/js/standalone/selectize.js' %}
    <script src="{{ asset_url }}" charset="UTF-8"></script>
    {% endjavascripts %}
    <script>
        var selectizeconf =
        {
            valueField: 'valueField',
            labelField: 'labelField',
            persist: false,
            maxItems: 1,
            searchField: ['searchField'],
            options: [],
            create: false,
            render: {
                option: function (item, escape) {
                    switch (item.type) {
                        case "salarie":
                            return '<div>' +
                                    '<span class="label label-success">Salarié</span>&nbsp;' +
                                    '<strong>' + escape(item.label.prenom) + ' ' + escape(item.label.nom).toUpperCase() + '</strong>' +
                                    '<span class="pull-right">' +
                                    '<span class="label label-default">Age: ' + escape(item.label.age) + ' ans</span>&nbsp' +
                                    '<span class="label label-default">Sexe: ' + escape(item.label.sexe) + '</span>' +
                                    '</span>' +
                                    '</div>';
                            break;
                        default:
                            return '<div>' + escape(item.label) + '</div>';
                    }
                }
            },
            load: function (query, callback) {
                if (!query.length) return callback();
                $.ajax({
                    method: "POST",
                    url: "{{ path('paie_recherche_finder', {}) }}",
                    dataType: 'json',
                    data: {
                        'query': query,
                    },
                    error: function () {
                        callback();
                    },
                    success: function (res) {
                        options = [];
                        callback(res);
                    }
                });
            }
        };
        $('#select_finder').val(null);
        var $select = $('#select_finder').selectize(selectizeconf);
    </script>
{% endblock %}